<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Host</key>
	<string>berkeley.fh-joanneum.at</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	
	<key>Path</key>
	<string>/api/heroes</string>
	<key>Port</key>
	<integer>80</integer>
	<key>Scheme</key>
	<string>http</string>
</dict>
</plist>
